<div class="social">
  <ul>
    <li>
      <a href="https://twitter.com/hoa_done" target="_blank" rel="noopener">
        <%= image_tag("twitter_icon.svg", width: "40", height: "40", alt: "Twitter Icon", title: "Twitter") %>
      </a>
    </li>
    <li>
      <a href="https://www.facebook.com/hoadone/" target="_blank" rel="noopener">
        <%= image_tag("facebook_icon.svg", width: "40", height: "40", alt: "Facebook Icon", title: "Facebook") %>
      </a>
    </li>
    <li>
      <a href="https://www.linkedin.com/company/hoa-done/" target="_blank" rel="noopener">
        <%= image_tag("linkedin_icon.svg", width: "40", height: "40", alt: "LinkedIn Icon", title: "LinkedIn") %>
      </a>
    </li>
  </ul>
</div>
<div class="legal">
  <ul>
    <li><a href="/privacy_policy.html">Privacy Policy</a></li>
    <li><a href="/terms_of_service.html">Terms of Service</a></li>
  </ul>
</div>
<div class="copyright">
  <%= config[:site_copyright] %>
</div>
