<div class="logo">
  <a href="/">
    <%= image_tag("hoa_done_logo_header.png", width: 300, height: 300, alt: "HOA Done Logo", title: "HOA Done") %>
  </a>
</div>
<div class="headline"><%= config[:site_description] %></div>
